.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #161822;
  z-index: 999999;
  transition: all 0.3s ease-in-out;
}

.hide {
  opacity: 0 !important;
}
